<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.badmoviesql.dao.mapper.DirectorMapper">
    <resultMap id="Director" type="base.badmoviesql.model.Director">
        <id property="id" column="id" javaType="int"/>
        <result property="firstName" column="first_name" javaType="java.lang.String"/>
        <result property="lastName" column="last_name" javaType="java.lang.String"/>
    </resultMap>

</mapper>