<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.badmoviesql.dao.mapper.MovieMapper">
    <resultMap id="movieMap" type="base.badmoviesql.model.Movie">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="title" column="title" javaType="java.lang.String"/>
        <result property="directorId" column="director_id" javaType="java.lang.Integer"/>
        <result property="runTime" column="run_time" javaType="java.lang.Integer"/>
        <!--<result property="releaseDate" column="release_date" javaType="java.time.LocalDateTime"/>-->
    </resultMap>

    <select id="getAllMovies" resultMap="movieMap">
      SELECT <include refid="COLUMNS"/> FROM movie
    </select>
    <sql id = "COLUMNS">
        id,title,director_id,run_time
    </sql>
</mapper>