<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.badmoviesql.dao.mapper.ShowtimeMapper">
    <resultMap id="Showtime" type="base.badmoviesql.model.Showtime">
        <id property="id" column="id" javaType="int"/>
        <result property="movie_id" column="movie_id" javaType="int"/>
        <!--<result property="show_time" column="show_time" javaType="java.time.LocalDateTime"/>-->
        <result property="theater_ID" column="theater_ID" javaType="int"/>

    </resultMap>

</mapper>